.home {
  margin: auto;
  display: flex;
  gap: 20px;
  padding: 50px 0;
  max-width: 1240px;
}

.home-background {
  background-color: rgb(251, 218, 223);
}

.profile-photo {
  max-width: 550px;
  border-radius: 20px;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.home-content {
  flex: 1 1;
  padding: 10px;
  text-align: left;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-size: 35px;
}

.home-content {
  animation-duration: 5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% {
    margin-top: -20px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

#home {
  padding-bottom: 59px;
}
