.list {
  display: flex;
  justify-content: right;
  list-style: none;
  margin: 0;
}

nav {
  max-width: 1240px;
  margin: auto;
}

#sticky-header {
  width: 100%;
  position: fixed;
  background-color: rgb(251, 218, 223);
  z-index: 9999;
}

.menu-item {
  padding: 20px;
}

a {
  text-decoration: none;
  color: #666666;
  font-size: 20px;
}
