.bordered-box {
  border: 1px solid lightpink;
  padding: 20px;
  background-color: rgb(251, 218, 223);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-title {
  font-size: 25px;
  margin-top: 0;
}

.project-description {
  font-size: 20px;
  margin: 30px;
}

.tech-icon {
  margin: 10px;
  font-size: 40px;
  margin-bottom: 20px;
}

.project-image {
  width: 100%;
}

.icon-list {
  position: relative;
  bottom: 0px;
}
